.button {
  font-size: 14px;
  width: 120px;
  height: 40px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 14.5px;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
}

.topContainer {
  margin: 44px;
  padding: 0;
}
