.container {
  width: 50%;
  border-radius: 8px 0 0 8px;
  padding: 60.5px 72px 60.5px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circleIcon {
  width: 48px;
  height: 48px;
}

.h2 {
  color: #29262B;
  margin: 24px 0 0 0;
}

.paragraph {
  margin: 8px 0 48px 0;
  fontSize: 12px;
}