.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 121px;
  left: 352px;
  margin-top: 48px;
}

.smallText {
  color: #6f749a;
  margin: 0px;
}

.largeText {
  margin: 8px 0px;
}
