.buttonText {
  font-size: 12px;
}

.topSectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 16px;
}
