.header {
  display: flex;
  flex-direction: row;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.icon {
  margin-right: 5px;
}

.container {
  background: #f7f8ff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;

  padding: 8px 20px;

  position: static;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
}